
#profpic{
    border-radius: 50%; 

    position : absolute; 
    width: 150px; 
    height: 150px;
    top : 30px;
    left : 565px; 
}
#fonting{
    color : #f6cc54;
    position: absolute;
    text-align: center;
    left: 330px;
    top: 130px;

    font-size: 40pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    opacity: 0.75;
}

#layer1{
    background: #f1f1f1;
    border-radius : 15px; 

    position: absolute;
    width: 1000px; 
    height : 300px; 
    left : 140px; 
    top : 280px;
    
}



.fonting2{
    color :#d64433;
    text-align: center;

    font-size: 14pt;
    font-family: 'Poppins';

}

.fonting3{
    color : #000000;
    text-align: center;

    font-sixe: 12pt;
    
}

